body {
    background-color: #ffffff;
    font-family: "roboto", "arial", "sans-serif";
    color: black;
}

#header {
    background-color: #9fe2bf;
    text-align: left;
    width: 100%;
    height: 20%;
    border-radius: 6px;
}

h1{
    margin-left: 40px;
    padding-top: 12px;
}

nav{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 40px;
}

a:link{text-decoration: none; color: #008080; font-weight: bold; margin: 10px; background: #ffffff; padding: 10px; border-radius: 3px; }
a:visited{text-decoration: none; color: #008080; font-weight: bold; margin: 10px; background: #ffffff; padding: 10px; border-radius: 3px; }
a:active{text-decoration: none; color: #008080; font-weight: bold; margin: 10px; background: #ffffff; padding: 10px; border-radius: 3px; }
a:hover{text-decoration: none; color: #000000; font-weight: bold; margin: 10px; background: #ffffff; padding: 10px; border-radius: 3px; }

ul {
    list-style-type: none;
    margin-left: 25%;
    padding: 0;
    text-align: left;
  }

footer {
    background-color: #9fe2bf;
    text-align: center;
    padding: 30px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    font-family: 'Roboto Slab', serif;
}